.navbar {

 
    .navflex {

        display: flex;
        align-items: center;
       
        padding: 8px 0 5px 0;


        .logo-text {
            text-decoration: none;
            font-size: 1.9rem;
            font-weight: 400;
            line-height: 1;
            height: 30px;
            flex: 0 0;
            display: block;
            color: $color-dark;
            // text-transform: uppercase;
            padding: 14px 7px 5px 7px;
            max-width: 80px;
            letter-spacing: 2px;
            border: 1px solid $color-dark;
            margin-right: auto;
            margin: 5px auto 5px 0;
        }

        .navigation {

            .nav-checkbox {
                display: none;

                &:checked + .nav-button .nav-icon {
                    background-color: transparent;
                }

                &:checked + .nav-button .nav-icon::after {
                    top: 0;
                    transform: rotate(-135deg);
                }
                &:checked + .nav-button .nav-icon::before {
                    top: 0;
                    transform: rotate(135deg);
                 }

                 &:checked ~ .nav-bg{
                     opacity: 1;
                    transform: scale(80);
                }


                    &:checked ~ .nav-nav {
                        opacity: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }



            }

            @media only screen and(min-width: 950px) {
                .nav-bg {
                    display: none;
                }
               .nav-nav {
                .navlinks {
    
                    display: flex;
                    list-style-type: none;
                    
                    margin: 0;
                    padding: 0;
        
                    li {
        
                        padding: 0;
        
                        &:not(:last-child) {
        
                            margin-right: 1rem;
        
                        }
        
                        a {
                            display: block;
                            padding: 8px 16px;
                            font-family: $font-text;
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            text-decoration: none;
                            color: $color-dark;
        
                            &.active {
        
                                border-bottom: 1px solid $color-secondary;
        
                            }
        
                            &:hover {
                                background-color: rgba($color-secondary, .8);
                                color: $color-white;
        
                            }
        
        
                        }
                    }
        
                }
               }
        
            }
    
            @media only screen and(max-width: 950px) {

                .nav-bg {
                    height: 4rem;
                    position: fixed;
                    opacity: 0;
                    background-image: linear-gradient(to left bottom, rgba($color-secondary, .9), rgba($color-secondary-light, .9));
                    width: 4rem;
                    border-radius: 50%;
                    top: 22px;
                    right: 26px;
                    z-index: 300;
                    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
                    // transform: scale(68)
                }

                .nav-button {
                    height: 5rem;
                    position: absolute;
                    background-color: rgba($color-primary, 1);
                    width: 5rem;
                    border-radius: 50%;
                    z-index: 500;
                    top: 18px;
                    right: 25px;
                    cursor: pointer;

                    // &:hover .nav-icon::before { top: -3rem; }
                    // &:hover .nav-icon::after { top: 1rem; }

                }

                .nav-icon {
                    position: relative;
                    margin-top: 2.6rem;
                    margin-left: .9rem;
                    cursor: pointer;
                   
                    &,
                    &::before,
                    &::after {
                        width: 3rem;
                        height: 2px;
                        background-color: $color-secondary;
                        display: inline-block;
                        cursor: pointer;
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        cursor: pointer;
                        transition: all .2s;
                    }
            
                    &::before { top: -.8rem; }
                    &::after { top: .8rem; }
                }


                .nav-nav {
                    height: 100vh;
                    position: fixed;
                    top: -100px;
                    left: -200px;
                    z-index: 400;

                    opacity: 0;
                    width: 0;
                    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                    .navlinks {
                        position: absolute;
                        top: 50%;
                        left: 45%;
                        transform: translate(-50%,-50%);
                        list-style: none;
                        text-align: center;
                        width: 100%;
                        
                        z-index: 600;

                        li {
                            a:link,
                            a:visited {
                                display: inline-block;
                                font-size: 2.5rem;
                                font-weight: 700;
                                padding: 1rem 2rem;
                                color: $color-white;
                                text-decoration: none;
                                text-transform: uppercase;
                                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                                background-size: 220%;
                                transition: all .4s;
                                border-bottom: 2px solid $color-white;
                    
                            }
                            a:hover,
                            a:active {
                                background-position: 100%;
                                color: $color-secondary;
                                transform: translateX(1rem);
                            }
                            

                        }
                    }
                }
    
            }

        }

       
    

       
    }



}

.heading {
  
    &.mt {
        margin-top: 3rem;
    }
    .heading-primary {
        display: block;
        font-family: $font-heading;
        color: $color-dark-light;
        font-size: 7rem;
        font-weight: 700;
        letter-spacing: 8px;
        display: flex;
        align-items: flex-end; 
        & .hi {
            color: $color-dark-light;

        }
        & .dot {
            background-color: $color-secondary;
            height: 10px;
            width: 20px;
            display: inline-block;
            margin-bottom: 10px;
            animation: dot 5s linear infinite;
        }

        

    }

    .heading-secondary {
        display: block;
        font-family: $font-heading;
        font-size: 3rem;
        letter-spacing: 6px;
        font-weight: 700;
        color: $color-dark-light
    }

    .heading-tertiary {
        font-family: $font-text;
        font-size: 1.8rem;
        display: block;
        line-height: 1.7em;
        letter-spacing: 2px;
        font-weight: 400;
        margin-top: 20px;
        text-align: justify;
        margin-bottom: 10px;


        a {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
            padding-bottom: 3px;
            border-bottom: 1px solid $color-secondary;
        
            &:hover {
                background-color: $color-secondary;
                color: $color-white;
                padding: 3px 5px;
            }
        }
    }
}



