@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');


$font-heading: 'Lora', serif;

$font-text: 'Merriweather', serif;

$color-dark: #303030;

$color-dark-light: #333;

$color-primary: #f3f2ee;

$color-secondary: #966c6e;

$color-secondary-light: rgb(148, 55, 55);

$color-white: #fff;
